@font-face {
    font-family: Calibri;
    src: url(../fonts/CALIBRI.TTF);
}
@font-face {
	font-family: Futura;
	src: url(../fonts/Futura.ttc);
}

:root {
  --heading-font: Futura, "Bookman Old Style", serif;
  --body-font: Calibri, Helvetica, sans-serif;
}

html {
	background-color: #200000;
}

.picture {text-align: center;}

body {border: 1px solid black;
	/*float: center;*/
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	padding: 10px;
	width: 800px;
	background-color: #CCC;
	padding-bottom: 20px;
	}
h1 {
	/* Heading Fonts
	font-family: var(--heading-font);
	*/
	font-family: Futura, "Bookman Old Style", serif;

	text-align: center;
	
	color: black;
	font-size: 32pt;
	}

h2, h3 {
	/* Heading Fonts
	font-family: var(--heading-font);
	*/
	font-family: Futura, "Bookman Old Style", serif;

	text-align: center;
	color: black;
	}
p {
	/* Body Fonts
	font-family: var(--body-font);
	*/
	font-family: Calibri, Helvetica, sans-serif;

	text-align: justify;
	margin-left: 5%;
	margin-right: 5%;
	color: black;
	font-size: 14pt;
	}
h4 {
	/* Heading Fonts
	font-family: var(--heading-font);
	*/
	font-family: Futura, "Bookman Old Style", serif;
	margin-left: 5%;
	margin-right: 5%;
	color: black;
	font-size: 14pt;
	font-style: italic;
}
	
h6 {
	/* Body Fonts
	font-family: var(--body-font);
	*/
	font-family: Calibri, Helvetica, sans-serif;

	text-align: center;
	color: #CCC;
	}
	
a {
	color: black;
}
a:hover {
	color: white;
}

.body h1 {
	/* Heading Fonts
	font-family: var(--heading-font);
	*/
	font-family: Futura, "Bookman Old Style", serif;

	text-align: center;
	
	color: black;
	font-size: 24pt;
}
.body ol {
	/* Body Fonts
	font-family: var(--body-font);
	*/
	font-family: Calibri, Helvetica, sans-serif;

	text-align: justify;
	margin-left: 5%;
	margin-right: 5%;
	color: black;
	font-size: 14pt;
	border: 2px solid black;
	padding-bottom: 20px;
}
.body ol > li > h1 {
	/* Body Fonts
	font-family: var(--body-font);
	*/
	font-family: Calibri, Helvetica, sans-serif;

	text-align: left;
	color: black;
	font-size: 14pt;
	font-weight: bold;
}
.body ol > li > ol {
	border: none;
	margin-left: 2vw;
	margin-right: 2vw;
}
	
.body ul {
/* Body Fonts
font-family: var(--body-font);
*/
font-family: Calibri, Helvetica, sans-serif;

text-align: justify;
margin-left: 5%;
margin-right: 5%;
color: black;
font-size: 14pt;
padding-bottom: 20px;
}

/* Nav bar */

nav > ul {
margin-left: 0;
padding-left: 0;
white-space: normal;
/*position: absolute;*/
text-align: center;
/*top: 70px;*/
}


nav > ul > li
{
display: inline;
list-style-type: none;
}

#smallNavEles {display: none;}

#global {
	border: 2px solid black;
	padding: 20px;
	display: inline-block;
	margin: 0;
}

nav {
	text-align: center;
}

/* ------ Ghost Buttons ----- */

.ghost {
	/* Heading Fonts
	font-family: var(--heading-font);
	*/
	font-family: Futura, "Bookman Old Style", serif;

	padding: 3px 10px;
	font-size: 14pt;
	

}

.ghost
{
color: Black;
background-color: #CCC;
text-decoration: none;
border: 2px solid black;

}

.ghost:hover {
color: #CCC;
background-color: #4f0000;
text-decoration: none;
}

/* Smaller Screens */

@media ( max-width: 850px) {
	body {width: 90%;}
}

@media (max-width: 675px) {
	#bigNavEles {display: none;}
	#smallNavEles {display: block;}
}

@media (max-width: 400px) {
	.picture {display: none;}

	body {
		border: 1px solid black;
		/*float: center;*/
		margin-bottom: 2%;
		margin-left: auto;
		margin-right: auto;
		background-color: #CCC;
	}
	p {
		/* Body Fonts
		font-family: var(--body-font);
		*/
		font-family: Calibri, Helvetica, sans-serif;

		text-align: left;
		
		padding-left: 1%;
		color: black;
		font-size: 14pt;
	}
}